# Carpetas de compilación
Debug/
Release/

# Archivos compilados y binarios
*.o
*.elf
*.bin
*.hex
*.map
*.su
*.srec
*.launch

# Archivos de configuración locales del usuario (opcional)
.metadata/
.settings/